<b>Zip Code </b> {{data._id}}

<p>City: {{data.city}}, State: {{data.state}}, Population: {{data.pop}}</p>

<a href="city/city/{{data.city}}/state/{{data.state}}">Click here for all Zip Codes for {{data.city}} {{data.state}}</a>